.navbar {
    margin-top: 1px;
    background-color: #245501;
    height: 40px;
}

.nav-link {
    color: #F4F5F6;
}

.main-box{
    background-color: #538D22;
    height: 500px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.main-left {
    width: 50%;
    display: flex;
    background-color: red;
    flex-direction: column;
}

.main-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: blue;
}


.main-boton {
    color:#F4F5F6;
    background-color: #245501;
    border-color: #538D22;
    margin-top: 10%;
    padding: 2% 15% 2% 15%;
    border-radius: 0;
}

.main-boton:hover {
    background-color: #AAD576;
    border-color: #538D22;
}

  
.top-content {
    color: #F4F5F6;
    position: relative;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 200%;
    gap: 41px;
    width: 500px;
  }

  h1 {
    color: rebeccapurple;
  }

  .main-box .main-info {
    position: relative;
    color: #F4F5F6;
    top: 35%;
  }

  .right-image {
    background-image: url(/public/assets/Main1.png);
    height: 500px;
    flex-direction: column;
    flex: auto;
    position: relative;
    width: 500px;
  }
  
  
  