.mainCart {
    background-image: url('../images/cart_cover.png');
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
}

.container-Div {
    text-align:'center';
    font-size:'2rem';
    padding-bottom:'5px';
    background-color:white;
}

.titleCart {
    color: black;
}
