.mainCart {
    background-image: url('../images/cart_cover.png');
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
}

.container-Div {
    text-align:'center';
     font-weight:'bold';
    font-size:'2rem';
    padding-bottom:'5px';
    background-color:rgba(13,96,76,0.6);
    border: 10px solid rgba(13,96,76,0.6);
}

.titleCart {
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
