.MainCheckout{
    height: 800px;
    background-image: url('../images/stadiumIage.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

}

.divForms{
    display: inline-flex;
    padding: 50px;    
}

/* Checkout Form */

.containerCheckout {
    background-color: #f0f0f0; 
	width: 630px;
    margin-left: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    opacity: 93%;

    border-width: 2px;
    border-color: black;
    border-radius: 2%;
    border-style: groove;
}

h1 {
    color: #007bff; 
    text-align: center;
}

.checkout-form {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;

    border-radius: 8px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

button {
    background-color: #28a745; 
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838; 
}

.paypal-box img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

body {
    font-family: 'Arial', sans-serif; 
}


/* Checkout Summ */

.checkoutSummary{
    background-color: #f0f0f0; 
	width: 470px;
    height: 250px;
    margin-left: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    opacity: 93%;
    border-width: 2px;
    border-color: black;
    border-radius: 2%;
    border-style: groove;
}

.summaryCont{
    background-color: white;
    border: 1px solid black;
    padding: 30px;
}
