.container-fluid {
  padding: 0;
}

h1, h2, h3, h4, h5, button {
  font-family: 'Poppins', sans-serif;
}


.navbar {
  padding: 0% !important;
  border: 0px !important;
  margin-top: 3px;
  background-color: #000000;
  height: 43px;
}

.navbar-toggler {
  position: absolute;
  width: 50px;
  height: 30px;
  border: white;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon{
  opacity: 0.5;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/06/X_blanc_sur_fond_rectangulaire_noir.png");
}


.navbar-toggler-icon {
  font-size: 1rem;
  color: white;
}

#navbarColor01 {
  background-color: black;
  z-index: 1000;
  border-color: #F4F5F6;
}

.nav-link, i {
  color: #F4F5F6;
}

.main-box {
  position: relative;
  background-image: url(/public/assets/Main1.png);
  background-size: cover;
  margin-bottom: 3%;
}


.main-boton {
  font-family: 'Poppins', sans-serif;
  color: #F4F5F6;
  background-color: #3498DB;
  border-color: #000000;
  margin-top: 1%;
  padding: 2% 15% 2% 15%;
  border-radius: 0;
}

.main-boton:hover {
  background-color: #8fbedd;
  border-color: #000000;
}


.top-content {
  position: absolute;
  color: #F4F5F6;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 200%;
}


.main-info {
  font-family: 'Poppins', sans-serif;
  color: #F4F5F6;
}


.product {
  font-family: 'Poppins', sans-serif;
  color: #000;
}


.product .descripcion {
  position: relative;
}