.mainContainerlogin {
    background-image: url(https://i.pinimg.com/originals/a1/44/52/a14452c7bf1df8d906c4d8e8103d633d.jpg);
    background-size: cover;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .loginform {
    background-color: rgba(255, 255, 255, 0.816);
    border-radius: 5%;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  