

/* (desktop, tablet, etc.) */
@media (min-width: 768px) {
    .main-box {
      min-height: 90vh;
    }
    
    .top-content {
      padding: 2rem 0;
    }
  }
  
  /*(iPhone) */
  @media (max-width: 767px) {

    .navbar-collapse{
      margin-top: 10% !important;
      font-size: large !important;
      border-bottom: 3px solid white !important;
      position: relative;
    }
    
    
    .navbar-toggler {
      right: 1rem !important;
      left: auto !important;
    }

    .navbar-collapse div{
      margin: 2% !important;
      margin-top: 5% !important;
      justify-content: center !important;
      text-align: center !important;
    }

    .navbar-collapse ul{
      text-align: center !important;
      margin: 2% !important;
    }

    .main-box {
      min-height: 70vh;
      background-attachment: scroll;
    }
    
    .main-box .container {
      padding: 2rem 1rem !important;
    }
    
    .top-content {
      margin-bottom: 2rem !important;
    }
    
    .responsiveTitle {
      margin-bottom: 1rem !important;
    }
    
    .responsiveSubTitle {
      margin-bottom: 2rem !important;
      font-size: 1.1rem !important;
    }
    
    .main-boton {
      padding: 0.9rem 2rem !important;
      font-size: 0.95rem !important;
    }
    
    .main-info-container {
      margin-top: 2rem !important;
      padding-top: 1.5rem !important;
    }
    
    .responsiveProduct {
      text-align: center;
    }
    .responsiveBanner {
      width: 90%;
    }
    .responsiveBrands {
      display: none;
    }
    .responsiveBrandsNames {
      width: 100%;
      margin-left: 0 !important;
    }
    .responsiveText {
      font-size: 0.85rem !important;
    }
    .top-content {
      text-align: center;
    }
    .responsiveVideo{
      text-align: center;
      width: 100% !important;
      height: 100% !important;
      display: block !important;
    }
    .responsiveVideo2{
      padding: 2% !important;
      height: 30vh !important;
      width: 100vw !important;
    }
    .responsivePics{
      display: none !important;
    }
    .responsivePics2{
      display: none !important;
    }
    .responsivePics3{
      display: none !important;
    }
    
    .responsiveVideo {
      flex-direction: column !important;
    }
    
    .responsiveVideo2 {
      width: 100% !important;
      flex: 1 !important;
    }
  
    .responsiveFooter {
      width: 100% !important;
      font-size: medium;
      margin-bottom: 3% !important;
    }
    .responsiveFooter div{
      margin: 3% 10% 3% 3% !important;
    }
    .responsiveCategory{
      width: 100%;
      display: block !important;
    }

    .logo-container {
      justify-content: center !important;
    }

    .responsiveSearchBar {
      display: flex;
      flex-direction:row;
      align-items: center !important;
      justify-content: center !important;
    }

    .loginform  {
      text-align: center !important;
      width: 95% !important;
      max-width: 380px !important;
      padding: 1rem !important;
      margin: 0 auto !important;
    }
    
    .titleContainer {
        font-size: 1.75rem !important;
        padding: 1rem 1rem 0.5rem 1rem !important;
    }
    
    .titleContainer div {
      font-size: 1.75rem !important;
    }
    
    .titleContainer svg {
      width: 35px !important;
      height: 35px !important;
    }
    
    .titleContainer h4 {
      font-size: 0.95rem !important;
      margin-top: 0.25rem !important;
      margin-bottom: 0.75rem !important;
    }
    
    .form-content-mobile {
      padding: 0.75rem 1.25rem 1.25rem 1.25rem !important;
    }
    
    .form-content-mobile .MuiTextField-root {
      margin-bottom: 1rem !important;
    }
    
    .form-content-mobile button {
      padding: 0.75rem 1.5rem !important;
      font-size: 0.9rem !important;
    }
    
    .loginform .text-end {
      padding: 0.75rem 0.75rem 0 0 !important;
    }
    
    .loginform .text-end button {
      width: 1.75rem !important;
      height: 1.75rem !important;
    }
    
    .newVendorInput {
      margin: 0 0 1rem 0 !important;
      width: 100% !important;
    }
    
    .newVendorInput:last-of-type {
      margin-bottom: 1.5rem !important;
    }

    .table1 {
      width: 95% !important;
      margin: 3% 0% !important;
    }

    .table1  table  tbody  tr  td, 
    .table1  table  thead  tr  th,
    .table1  table  tbody  tr  td button {
      min-width: 12vw !important;
      font-size: x-small !important;
      padding: 2% !important;
    }


    .graph div{
      width: 100vw !important;
    }

    .vendorBox {
      width: 90% !important;
    }

    .inbox {
      width: 90% !important;
    }
    .inbox2 div div p{
      font-size: small !important;
      margin: 0% !important;
      height: 100%;
    }

    .inbox3 div{
      justify-content: center !important;
    }

    .inbox3 {
      padding: 0% !important;
    }

    .productItem {
      flex-direction: column !important;
      text-align: center !important;
    }

    .productItem2 {
      align-items: center !important;
    }
    .productItem2 button {
      margin-bottom: 10% !important;
    }

    .ordersResponsive tbody tr td, h6, th {
      width: 100% !important;
      padding: 0% !important;
      margin: 5% !important;
      font-size: smaller !important;

    }

    .carritoResponsive div h4 {
      width: 100% !important;

    }

    .responsiveTable thead tr th {
      font-size: small !important;
    }

    .responsiveTable tbody tr td {
      font-size: small !important;
    }

    .responsiveTable tbody tr td button{
      margin: 2% !important;
      font-size: x-small !important;
    }

    .responsiveTable tbody tr td button:last-of-type{
      margin: 3% !important;
      padding: 0% !important;
      font-size: xx-small !important;
    }

    .responsiveTable thead tr:first-child th {
      width: 30px !important;
    }

    .responsiveTable tbody tr:first-child td div,
    .responsiveTable tbody tr td div img {
      width: 100% !important;
    }

    .ordersResponsive tbody tr td button {
      margin: 3% !important;
      font-size: xx-small !important;
    }

  }
  