

/* (desktop, tablet, etc.) */
@media (min-width: 768px) {
    .main-box {
      height: 90vh;
    }
  }
  
  /*(iPhone) */
  @media (max-width: 767px) {

    .navbar-collapse{
      margin-top: 5% !important;
      height: 35vh !important;
      font-size: large !important;
      border-bottom: 3px solid white !important; 
    }

    .navbar-collapse div{
      text-align: center !important;
    }

    .navbar-collapse ul li{
      margin: 2% !important;
    }



    .main-box {
      height: 50vh;
      /* Adjust the height for smaller screens */
    }
    .responsiveProduct {
      text-align: center;
    }
    .responsiveBanner {
      width: 90%;
    }
    .responsiveBrands {
      display: none;
    }
    .responsiveBrandsNames {
      width: 100%;
      margin-left: 0 !important;
    }
    .responsiveText {
      font-size: small;
    }
    .responsiveSubTitle {
      font-size: large;
    }
    .top-content {
      text-align: center;
    }
    .responsiveVideo{
      text-align: center;
      width: 100% !important;
      height: 100% !important;
      display: block !important;
    }
    .responsiveVideo2{
      padding: 2% !important;
      height: 30vh !important;
      width: 100vw !important;
    }
    .responsivePics{
      margin-top: 0% !important;
      display: block !important;
      width: 100% !important;
    }
    .responsivePics2{
      display: flex !important;
      width: 100% !important;
      margin-bottom: 5% !important;
    }
    .responsivePics3{
      width: 20% !important;
    }
  
    .responsiveFooter {
      width: 100% !important;
      font-size: medium;
      margin-bottom: 3% !important;
    }
    .responsiveFooter div{
      margin: 3% 10% 3% 3% !important;
    }
    .responsiveCategory{
      width: 100%;
      display: block !important;
    }

    .logo-container {
      justify-content: center !important;
    }

    .responsiveSearchBar {
      display: flex;
      flex-direction:row;
      align-items: center !important;
      justify-content: center !important;
    }

    .loginform  {
      text-align: center !important;
      width: 90%;
    }
    .titleContainer {
        font-size: 45px !important;
    }
    
    .newVendorInput {
      margin: 2% !important;
      width: 80% !important;
    }
  }
  