

/* (desktop, tablet, etc.) */
@media (min-width: 768px) {
    .main-box {
      height: 90vh;
    }
  }
  
  /*(iPhone) */
  @media (max-width: 767px) {

    .navbar-collapse{
      margin-top: 10% !important;
      font-size: large !important;
      border-bottom: 3px solid white !important;     }

    .navbar-collapse div{
      margin: 2% !important;
      margin-top: 5% !important;
      justify-content: center !important;
      text-align: center !important;
    }

    .navbar-collapse ul{
      text-align: center !important;
      margin: 2% !important;
    }

    .main-box {
      height: 50vh;
    }
    .responsiveProduct {
      text-align: center;
    }
    .responsiveBanner {
      width: 90%;
    }
    .responsiveBrands {
      display: none;
    }
    .responsiveBrandsNames {
      width: 100%;
      margin-left: 0 !important;
    }
    .responsiveText {
      font-size: small;
    }
    .responsiveSubTitle {
      font-size: large;
    }
    .top-content {
      text-align: center;
    }
    .responsiveVideo{
      text-align: center;
      width: 100% !important;
      height: 100% !important;
      display: block !important;
    }
    .responsiveVideo2{
      padding: 2% !important;
      height: 30vh !important;
      width: 100vw !important;
    }
    .responsivePics{
      margin-top: 0% !important;
      display: block !important;
      width: 100% !important;
    }
    .responsivePics2{
      display: flex !important;
      width: 100% !important;
      margin-bottom: 5% !important;
    }
    .responsivePics3{
      width: 20% !important;
    }
  
    .responsiveFooter {
      width: 100% !important;
      font-size: medium;
      margin-bottom: 3% !important;
    }
    .responsiveFooter div{
      margin: 3% 10% 3% 3% !important;
    }
    .responsiveCategory{
      width: 100%;
      display: block !important;
    }

    .logo-container {
      justify-content: center !important;
    }

    .responsiveSearchBar {
      display: flex;
      flex-direction:row;
      align-items: center !important;
      justify-content: center !important;
    }

    .loginform  {
      text-align: center !important;
      width: 90%;
    }
    .titleContainer {
        font-size: 45px !important;
    }
    
    .newVendorInput {
      margin: 2% !important;
      width: 80% !important;
    }

    .table1 {
      width: 95% !important;
      margin: 3% 0% !important;
    }

    .table1  table  tbody  tr  td, 
    .table1  table  thead  tr  th,
    .table1  table  tbody  tr  td button {
      min-width: 12vw !important;
      font-size: x-small !important;
      padding: 2% !important;
    }


    .graph div{
      width: 100vw !important;
    }

    .vendorBox {
      width: 90% !important;
    }

    .inbox {
      width: 90% !important;
    }
    .inbox2 div div p{
      font-size: small !important;
      margin: 0% !important;
      height: 100%;
    }

    .inbox3 div{
      justify-content: center !important;
    }

    .inbox3 {
      padding: 0% !important;
    }

    .productItem {
      flex-direction: column !important;
      text-align: center !important;
    }

    .productItem2 {
      align-items: center !important;
    }
    .productItem2 button {
      margin-bottom: 10% !important;
    }

    .ordersResponsive tbody tr td, h6, th {
      width: 100% !important;
      padding: 0% !important;
      margin: 5% !important;
      font-size: smaller !important;

    }

    .carritoResponsive div h4 {
      width: 100% !important;

    }

    .responsiveTable thead tr th {
      font-size: small !important;
    }

    .responsiveTable tbody tr td {
      font-size: small !important;
    }

    .responsiveTable tbody tr td button{
      margin: 2% !important;
      font-size: x-small !important;
    }

    .responsiveTable tbody tr td button:last-of-type{
      margin: 3% !important;
      padding: 0% !important;
      font-size: xx-small !important;
    }

    .responsiveTable thead tr:first-child th {
      width: 30px !important;
    }

    .responsiveTable tbody tr:first-child td div,
    .responsiveTable tbody tr td div img {
      width: 100% !important;
    }

    .ordersResponsive tbody tr td button {
      margin: 3% !important;
      font-size: xx-small !important;
    }

  }
  