.texto1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    will-change: transform;
    animation: ticker1 20s linear infinite;
  }
  
  .texto2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    will-change: transform;
    animation: ticker2 20s linear infinite;
  }
  
  @keyframes ticker1 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes ticker2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  