.btn_AddShoppingCart {
    border: none;
    border-radius: 3px;
    background-color: rgb(69, 103, 148);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.btn_AddShoppingCart:hover {
    background-color:rgb(204, 222, 255);
    color: black;
}